version: '3.8'

services:
  smart-brain-api:
    container_name: backend
    image: node:16.13.0
    build: ./
    command: npm start
    working_dir: /usr/src/smart-brain-api
    environment:
      POSTGRES_HOST: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 957486
      POSTGRES_DB: smart-brain-docker
    ports:
      - "3000:3000"
    volumes:
      - ./:/usr/src/smart-brain-api # maps the files from host to the container

  # Postgres
  postgres:
    container_name: db-postgres
    image: postgres
    ports:
      - "5431:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Password
      POSTGRES_DB: smart-brain-docker
      POSTGRES_HOST: postgres
